.resd-div {
	margin: 10px;
}

fieldset.resd-fieldset1, fieldset.resd-fieldset2 {
	border: 1px black solid;
	margin : 60px;
	margin-bottom: 40px;
}

legend.resd-legend1 {
	margin: 10px;
	padding-left: 15px;
	width: 125px;
}

legend.resd-legend2 {
	margin: 10px;
	padding-left: 15px;
	width: 155px;
}

.detail-input {
	border-radius: 15px;
    width: 230px;
    height: 40px;
    border: 1px solid #aaa;
    margin-left: 15px;
    padding: 10px;
}

.detail-but {
	background-color: #ff8e15;
    color: white;
    border: 1px solid #ff8e15;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    margin: 5px 50px;
    font-weight: bold;
}

.detail-but:hover {
	background-color: #ff9a2d;
}